@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --white: #ffffff;
    --corDefault: #2C217D;
    --corSecondary: #5A4ECE;
    --corButton: #0189A1E6;
    --corText: #8a8989;
    --corTitle: #000;
    --corHover1: #aeb0ce;
    --corHover2: #75e4f7e6;
    --fontDefault: font-family: 'Montserrat', sans-serif;
}

html,
body {
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: var(--corHover1);
    text-decoration: none;
}

a:hover {
    color: var(--corHover1);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    font-family: 'Montserrat', sans-serif;
}


/*--------------------------------------------------------------
# Sections & Section Header */

section {
    padding: 10px;
    overflow: hidden;
}


/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/

.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 995;
    background: var(--corHover1);
    width: 40px;
    height: 40px;
    border-radius: 3px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: var(--corDefault);
    line-height: 0;
}

.scroll-top:hover {
    background: rgba(var(--corHover1), 0.85);
    color: var(--white);
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Animated Hero Section
--------------------------------------------------------------*/

.hero-animated {
    width: 100%;
    min-height: 50vh;
    background: url("../img/hero-bg.png") center center;
    background-size: cover;
    position: relative;
    padding: 120px 0 60px;
}

.hero-animated h1 {
    margin: 0 0 10px 0;
    font-size: 58px;
    font-weight: 400;
    color: var(--corTitle);
    font-family: var(--font-default);
}

.hero-animated h1 span {
    color: var(--corDefault);
}

.hero-animated p {
    color: var(--corText);
    margin: 0 0 30px 0;
    font-size: 30px;
    font-weight: 400;
}

.hero-animated .animated {
    margin-bottom: 60px;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 992px) {
    .hero-animated .animated {
        max-width: 45%;
    }
}

@media (max-width: 991px) {
    .hero-animated .animated {
        max-width: 60%;
    }
}

@media (max-width: 575px) {
    .hero-animated .animated {
        max-width: 80%;
    }
}

.hero-animated .btn-get-started {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: var(--white);
    background: var(--corDefault);
    font-family: var(--fontDefault);
}

.hero-animated .btn-get-started:hover {
    background: var(--corHover1);
}

@media (max-width: 640px) {
    .hero-animated h2 {
        font-size: 32px;
    }
    .hero-animated p {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .hero-animated .btn-get-started,
    font-size: 14px;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero {
    width: 100%;
    padding: 0;
    background: var(--white);
    background: url("../img/hero-bg.png") center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0 60px 0;
}

@media (max-width: 640px) {
    .hero .container {
        padding: 0 60px;
    }
}

.hero h2 {
    color: var(--corTitle);
    margin-bottom: 25px;
    font-size: 48px;
    font-weight: 300;
    animation: fadeInDown 1s both 0.2s;
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 30px;
    }
}

.hero p {
    color: var(--corTitle);
    animation: fadeInDown 1s both 0.4s;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 10px;
}

@media (max-width: 640px) {
    .hero p {
        line-height: normal;
    }
}

.hero .img {
    margin-bottom: 40px;
    animation: fadeInDownLite 1s both;
}

.hero .btn-get-started {
    font-family: var(--font-default);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 5px;
    transition: 0.5s;
    animation: fadeInUp 1s both 0.6s;
    color: var(--white);
    border: 2px solid var(--corDefault);
}

.hero .btn-get-started:hover {
    background: var(--corHover1);
    color: var(--corDefault);
    border-color: var(--corHover1);
}


/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/

.featured p {
    font-family: var(--fontDefault);
}

.featured-services .service-item {
    padding: 30px;
    transition: all ease-in-out 0.4s;
    background: var(--white);
    height: 100%;
}

.featured-services .service-item .icon {
    margin-bottom: 10px;
}

.featured-services .service-item .icon i {
    color: var(--corDefault);
    font-size: 36px;
    transition: 0.3s;
}

.featured-services .service-item h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 24px;
}

.featured-services .service-item h4 a {
    color: var(--corTitle);
    transition: ease-in-out 0.3s;
}

.featured-services .service-item p {
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 0;
}

.featured-services .service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0 60px 0 rgba(var(--corHover1), 0.1);
}

.featured-services .service-item:hover h4 a {
    color: var(--corDefault);
}

.featured-services h2 {
    color: var(--corDefault);
    padding: 0 23px;
}

.service-item p span {
    color: var(--corDefault);
    font-weight: bold;
}


/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/

.cta {
    padding: 0;
    margin-bottom: 60px;
}

.cta .container {
    padding: 80px;
    background: var(--corDefault);
    border-radius: 15px;
    opacity: 0.9;
}

@media (max-width: 992px) {
    .cta .container {
        padding: 60px;
    }
}

.cta .content h3 {
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
}

.cta .content h3 em {
    font-style: normal;
    position: relative;
}

.cta .content h3 em:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 10px;
    background: var(--white);
    z-index: -1;
    opacity: 0.6;
}

.cta .content p {
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
}

.cta .content .cta-btn {
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 10px;
    background: var(--corButton);
    animation: up-down 3s ease-in-out infinite alternate-reverse both;
}

.cta .content .cta-btn:hover {
    background: var(--corHover2);
}

.cta .img {
    position: relative;
}

.cta .img:before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--white);
    border-radius: 15px;
    transform: rotate(12deg);
}

.cta .img:after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(var(--color-white-rgb), 0.9);
    border-radius: 15px;
    transform: rotate(6deg);
}

.cta .img img {
    position: relative;
    z-index: 3;
    border-radius: 15px;
}


/*--------------------------------------------------------------
# Footer */

.footer {
    color: var(--corDefault);
    font-size: 14px;
    position: absolute;
    width: 100%;
    height: 100px;
}

.footer .footer-legal {
    padding: 30px 0;
    background: var(--white);
}

.footer .footer-legal .social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--white);
    color: var(--corDefault);
    line-height: 1;
    padding: 9px 10px;
    margin-right: 4px;
    border-radius: 4px;
    text-align: right;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer .footer-legal .social-links a:hover {
    background: var(--corHover1);
    text-decoration: none;
}

#copy {
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 992px) {
    .footer .footer-legal {
        padding: 10px;
    }
}

@media (max-width: 992px) {
    .footer .footer-legal .social-links {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .footer .footer-legal .social-links {
        text-align: center;
    }
}

@media (min-width: 1054px) {
    .footer .footer-legal .social-links {
        text-align: center;
    }
}